body {
    /** define custom properties so we can reference and change styles easily */
    --etsy-orange:#f1641e;
    --text-demand: #d00739;
    --price-color: #0f743b ;
    --sale-color: #a0e193;
    --markdown: #dff7af;
    --footer-light: #3b67d9 ;
    --footer-app: #122868;
    --footer-bright:#2638c0; 

    color: var(--black);
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Droid Sans, Arial, "sans serif";
    overflow-x: hidden;
    margin: 0;
}
/* NAV */

nav {
    /* background color should be accent-background */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px
    background-color: white;
    width: 100%;
    position: relative;
}

nav ul {
    /* something should go here */
    color:white;
}

nav ul a {
    /* color should be accent-background-text */
    color:white
    text-decoration: none;
    margin-right: 25px;
}

.navigation{
    display: flex;
    align-items: center;
}

.categories {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.search-container {
    position: relative;
    width: 100%; 
    max-width: 60rem;
}

.search{
    width: 100%;
    padding: 1rem 15px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 2rem;
    border-width: 2px;
    box-sizing: border-box;
}



.search-button {
    background-color: var(--etsy-orange);
    fill:white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigate-user {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin:0;
}

.navigate-user img{
    width: 20px;
    height: 20px;
}

.navigate-user a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.mid-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20%;
}
.navigate-links {
    display: flex;
    justify-content: center;
    background-color: white;
}

.navigate-links a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    border-width: 2px;
    padding: 0.5rem;
    font-size: 14px;
    width:max-content;
}

.navigate-links button :hover {
    background-color: lightgray;
    
}

.navigate-links button{
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

/* small nav */
ul.navigate{ 
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

main{
    border-top: 1px solid #ddd;
    border-width: 2px;
}
aside.App{
    background-color: var(--footer-app);
}

/* Footer */

.footer{
    background-color: var(--footer-bright);
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.section-title {
    font-size: 1.2em; 
    font-weight: bold;
    margin-bottom: 8px;
    color: white;
}

footer div {
    flex: 1;
    min-width: 150px; 
}

footer p{
    color: white;
}

footer ul a{
    color: white;
    text-decoration: none;
}
footer ul {
    color: var(--footer-bright)
}
