/* main */
main{
    display: flex;
}

.main-content {
    padding: 0 3rem;
}

/* Main Carousel Container */
.carousel {
    display: flex;
    gap: 20px;
    width: auto;
    max-height: 36rem;
    margin: 3rem 3rem 3rem 0;
    justify-content: center; 
    overflow: hidden;
    position: relative;

}

.carousel-main {
    flex: 1;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.main-img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;   
}

/* Buttons */
.carousel button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    padding: 1.5rem 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 2rem;
    height: 2rem;
    color:black;
}

.carousel-button:hover{
    background-color: var(--nav-hover);
}

.button-prev {
    position: relative;
    z-index: 1;
    top: 50%;
}

.button-prev:hover{
    background-color: var(--nav-hover);
}

.button-next {
    position: relative;
    z-index: 1;
    top: 50%;
}

.button-next:hover{
    background-color: var(--nav-hover);
}

.etsys-pick {
    display: flex;
    align-items: center;
    background-color: #fcc7a2;
    gap: 4px;
    border-radius: 15px;
    height: 2rem;
    padding: 4px 0.5rem;
    position: absolute;
    top: 0;
    left: 5rem;
}

.etsys-pick p {
    font-size: 14px;
    color: black;
    margin: 0;
    border-bottom: 2px dotted;
}

/* Track */
.carousel-track {
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    min-width: 100px;
    transition: transform 1s ease-in-out;
}

.img{
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.337) 0%,rgba(255, 255, 255, 0.778) 100%);
}

.img:after{
transition: .5s;
}

/* Thumbnails in Track */
.carousel-track img {
    width: 60px;
    height: 60px;
    margin: 3px;
    padding: auto;
    border-radius: 8px;
    cursor: pointer;
}

.carousel-track img:hover, .carousel-track img.active {
    mask-image: none;
}

.carousel-track img.active {
    border: 2px solid #333;
}

.carousel-button  {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.report{
    display: flex;
    color: black;
    font-size: 14px;
    position: absolute;
    top: 51rem; 
    right: 40%;
    padding: 5px 10px;
    align-items: center;
    gap: 5px; 
}

/* aside */
aside{
    float: right;
    background-color: white;
    max-width: 25%;
}

/* product description aside */
.product {
    max-width: 30%;
    /* margin: 20px 0 20px 4rem; */
    background-color: #fff;
    border-radius: 8px;
    font-size: 16px;
}

/* Product Title and Price */
h1 {
    font-size: 16px;
    color: #d00739;
}
.price{
    display: flex;
    align-items: center; 
    gap: 10px;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 1px;
    color: var(--price-color);
    margin: 0;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    margin: 0;
}

.discount {
    color: black;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--sale-color);
    border-radius: 20px;
    padding: 2px 8px;
    margin: 0;
}

.sale-end {
    color: var(--price-color);
    font-size: 16px;
    font-weight: bold;
    margin: 0.5rem 0;
}

.special-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--markdown);
    gap: 4px;
    border-radius: 10px;
    height: 2rem;
    padding: 0 1rem;
}

.special-info img {
    width: 24px;
    margin-right: 8px;
}

.markdown{
    font-weight: bold;
    margin: 0;
}
.special-info p {
    font-size: 14px;
    color: black;
    margin: 0;
}

.product-description {
    padding-right: 2rem;
    font-size: 1rem;
    color: rgb(86, 86, 86);
    margin-bottom: 6px;
}

.seller-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.seller-info a {
    color: black;
    margin-right: 10px;
    text-decoration: none;
}

.seller-info img {
    width: 18px;
    margin-right: 6px;
}

.five-star{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Payment Info Section */
.payment-info {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.payment-info img {
    width: 90px;
    vertical-align: middle;
}

/* Add to Cart Button */
.add-to-cart {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.add-to-cart a {
    color: white;
    text-decoration: none;
}

.star-seller-info{
    display: flex;
    align-items: center;
}

.star-seller-info p {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.seller-info a:hover {
    text-decoration: underline;
}

.add-to-cart:hover {
    background-color: #6c6c6c; 
}

/* drop down */
.more {
    display: none;
}

.more.visible {
    display: block;
}

details {
    border: 1px solid rgb(255, 255, 255);
    position: relative; 
}

summary {
    position: relative;
    display: block;
    font-weight: bold;
    border-radius: 20px;
    right:1rem;
}
summary p{
    position: relative;
    padding: 1rem;
}

summary:hover{
    background-color: var(--nav-hover);
}

summary::after {
    display: inline-block;
    content: 'v';
    transition: 0.2s;
    position: absolute; 
    right: 1rem;
    top:1rem;
}

details[open] summary {
    margin-bottom: 0.5em;
}

details[open] > summary::after {
    transform: rotate(180deg);
    margin-right: 0;
}

.details :hover{
    background-color: #fcc7a2;
}

.highlight{
    padding: 0;
}

.drop{
    display: flex;
    align-items:  center;
    color: white;
}

.drop h4{
    color: black;
    font-size: 16px;
}

.drop h5{
    color: black;
    font-size: 16px;
}
.drop p{
    color: black;
    padding-left: 0.5rem;
    margin: 0.5rem;
}
